<h3>
  add-project works!
</h3>

<div class="row">
  <form class="col" [formGroup]="form" (ngSubmit)="submitclick()">
    
    <mat-form-field class="col-md-12">
      <input matInput placeholder="Title" formControlName="title">
    </mat-form-field>
    <mat-form-field class="col-md-12">
      <input matInput placeholder="Description" formControlName="description">
    </mat-form-field>
    <mat-form-field class="col-md-12">
      <input matInput placeholder="Image" formControlName="image">
    </mat-form-field>
    <input type="submit" [disabled]="!form.valid" class="form-control btn btn-primary" value="ADD">
  </form>
</div>
